<!-- views/pages/job-ad.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meine Bewebung</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/jobad-style.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/job-ads-list.js"></script>
</head>
<body>
<div class="mobile-container">

    <!-- Top Navigation Menu -->
    <% include ../partials/nav-mobile %>

    <div class="container body-mobile">
        <div class="matching">
            <div class="card">
                <ul class="list-group list-group-flush">
                <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold" style="font-size: 30px">Provinzial</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Tätigkeitsfeld: Informatik</div>
                            </div>
                            <div class="row">
                                <div class="col">Berufsbezeichnung: Frontend Web Developer</div>
                            </div>
                            <div class="row">
                                <div class="col">Aufgabenfeld: Webentwicklung und Design im Frontend</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Know-How:</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="badge" >PHP</span>
                                    <span class="badge" >Node.js</span>
                                    <span class="badge" >Javascript</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Ausstellungsbeschreibung:</div>
                            </div>
                            <div class="row">
                                <div class="col">Als Webentwickler für Javascript und PHP kommen Sie in verschiedenen Kundenprojekten mit den unterschiedlichsten Systemen in Kontakt. Dank Ihrer Sattelfestigkeit in der Webentwicklung finden Sie sich überall hinein und setzen hinreißende User Stories um. Sie entwickeln passgenaue Software, konzipieren skalierbare Architekturen</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="btn" style="margin-left: 5px">Ausschreiben ändern</a>
                    <a href="#" class="btn" style="margin-right: 5px">Ausschreiben entfernen</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</body>
</html>