<!-- views/pages/matching.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meine Berwebung</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/matching.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/matching.js"></script>
</head>
<body>
<div class="mobile-container">

    <!-- Top Navigation Menu -->
    <% include ../partials/nav-mobile %>

    <div class="container body-mobile">
        <div class="matching">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Qualifikation:</div>
                            </div>
                            <div class="row">
                                <div class="col">Schulabschluss: allgemeine Hochschulreife</div>
                            </div>
                            <div class="row">
                                <div class="col">Studium: B.Sc. allgemeine Informatik</div>
                            </div>
                            <div class="row">
                                <div class="col">Fortbildung: Vertiefungskurs in Deep Learning</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Know-How:</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="badge badge-java">Java</span>
                                    <span class="badge badge-nodejs">Node.js</span>
                                    <span class="badge badge-javascript">Javascript</span>
                                    <span class="badge badge-htmlcss">HTML/css</span>
                                    <span class="badge badge-c">C</span>
                                    <span class="badge badge-c++">C++</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Tätigkeitsfelder:</div>
                            </div>
                            <div class="row">
                                <div class="col">Softwaremodellierung</div>
                            </div>
                            <div class="row">
                                <div class="col">Webentwicklung</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Repräsentation:</div>
                            </div>
                            <div class="row">
                                <div class="col">Hallo, ich komme aus Gummersbach. Dort habe ich vor kurzen mein B.Sc. in allgemeiner Informatik erfolgreich abgeschlossen. Neben dem Studium habe ich habe ich bei Firma XY als Werksstudent im Bereich der Webentwicklung gearbeitet. Nun suche ich ein Unternehmen, in dem ich mich und meine Fähigkeiten gut einbringen kann.</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body" style="text-align: center;">
                    <a href="/matching/5cwf4872" class="btn" style="margin-right: 5px">Ablehnen</a>
                    <a href="#" class="btn" style="margin-left: 5px">Annehmen</a>
                </div>
                <!--<div class="card-body">
                    <a href="#" class="card-link">Ablehnen</a>
                    <a href="#" class="card-link">Annehmen</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>