<!-- views/pages/matching.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meine Berwebung</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/matching.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/matching.js"></script>
</head>
<body>
<div class="mobile-container">

    <!-- Top Navigation Menu -->
    <% include ../partials/nav-mobile %>

    <div class="container body-mobile">
        <div class="row matching">
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Qualifikation:</div>
                            </div>
                            <div class="row">
                                <div class="col">Schulabschluss: allgemeine Hochschulreife</div>
                            </div>
                            <div class="row">
                                <div class="col">Studium: M.Sc. Medieninformatik</div>
                            </div>
                            <div class="row">
                                <div class="col">Fortbildung: ISTQB Certified Tester</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Know-How:</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <span class="badge badge-java">Java</span>
                                    <span class="badge badge-nodejs">Scrum</span>
                                    <span class="badge badge-javascript">Javascript</span>
                                    <span class="badge badge-htmlcss">HTML5/css</span>
                                    <span class="badge badge-c">VueJS</span>
                                    <span class="badge badge-c++">React</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Tätigkeitsfelder:</div>
                            </div>
                            <div class="row">
                                <div class="col">Qualitätssicherung</div>
                            </div>
                            <div class="row">
                                <div class="col">Softwareentwicklung</div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="container">
                            <div class="row">
                                <div class="font-weight-bold">Repräsentation:</div>
                            </div>
                            <div class="row">
                                <div class="col">In früher Jugend machte ich mich mit meiner Internetagentur selbstständig, aus der später das Hosting-Unternehmen Scaling Technologies hervorging. Parallel zu meinem Studium an der Cologne Business School gründete ich 2005 das Video-Portal sevenload und verkaufte es im Jahr 2010 an Hubert Burda Media. Im Anschluss daran gründete ich noch im Jahr 2010 das Gaming-Startup Fliplife und verkaufte es in 2012 an den Kölner Spieleportal-Betreiber KaiserGames.</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="card-body" style="text-align: center;">
                    <a href="/matching/5cwf4872" class="btn" style="margin-right: 5px">Ablehnen</a>
                    <a href="#" class="btn" style="margin-left: 5px">Annehmen</a>
                </div>
                <!--<div class="card-body">
                    <a href="#" class="card-link">Ablehnen</a>
                    <a href="#" class="card-link">Annehmen</a>
                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>