<!-- views/partials/nav-mobile.ejs -->

<div class="topnav">
    <a class=""><img src="/public/img/logo.png" height="20" width="33"></a>
    <div id="myLinks">
        <a class="link" href="/employees">Bewerber</a>
        <a class="link" href="#">Mein Profil</a>
        <a class="link" href="/">Anzeigen</a>
    </div>
    <a href="javascript:void(0);" class="icon">
        <img src="/public/img/menu.svg" height="20" width="20">
    </a>
</div>